@import 'variables';

* {
  font-size: 14px;
}

html {
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}


a {
  all: unset; /* Сбрасываем все стили */
  cursor: pointer; /* Оставляем курсор как указатель */
}

button {
  all: unset; /* Сбрасывает все стили по умолчанию */
  font: inherit; /* Наследует шрифты от родителя */
  cursor: pointer;
}

.t14 {
  font-size: 16px;
}

.t32 {
  font-size: 34 px;
}