$main-red: #a30000;
$main-red-hover: #b20000;
$middle-red: #BA4747;
$low-red: #C86666;
$main-green: #22840F;
$middle-green: #7AB56F;
$low-green: #93C48A;
$middle-gray: #999999;
$low-gray: #CCCCCC;
$lowest-gray: #F2F2F2;
$background-color: #fff;